<footer>
    <div class="container-fluid" style="background-color:#0d67b5">
        <p id="foot_p">StudyEZ</p>
        <p id="foot_p"> CSCI 3308 Team 4</p>
    </div>
    <script src="../resources/js/my_scripts.js"></script>
</footer>



<!-- 
Ramy Kassam 
-->