<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header') %>

  <body>
    <div class="container">
      <h1>About Us</h1>
      <p>This page is part of a school project from CSCI 3308</p>
      <hr>
      <h3>Why study with us?</h3>
      <p>StudyEZ is a unique webpage where you can rip the rewards of spaced repetition study
        without any of the hard work! 
      </p>
      <p>
        We have made this page with the strugling college student in mind, and by doing so we
        where able to eliminate must of the tedious work that comes before actually studying: 
        <ul>
          <li>Planning out study sessions in your calendar with reminders.</li>
          <li>Collecting and organizing a semester's worth of work.</li>
          <li>Not leaving all your study for the day prior to the test.</li>
        </ul>
        This way you get to focus on what matters: studying. 
      </p>
      <hr>
    </div>
    <div class="container">
      <h3>What is spaced repetition learning?</h3>
      <p>
        Space repetition is a powerful evidence-based learning technique that leverages the way our brain reacals information. 
        It is a technique for more efficient memorization which uses repeated review of content following a schedule
        determined by a spaced repetition algorithm to improve long-term retention.
      </p>
    </div>
    <div class="container">
      <!-- <a href="#links" class="btn btn-info" data-toggle="collapse">Want to learn more?</a> -->
      Want to learn more? 
      <br>
      <div id="links" >
        <ul>
          <li>
            <a href="https://www.pnas.org/doi/10.1073/pnas.1815156116">Enhancing human learning via spaced repetition optimization</a>
          </li>
          <li>
            <a href="https://pubmed.ncbi.nlm.nih.gov/21574747/">Spaced retrieval: absolute spacing enhances learning regardless of
            relative spacing</a></li>
          <li>
            <a href="https://www.supermemo.com/en/archives1990-2015/help/smalg">Piotr Wozniak's SuperMemo algorithm</a>
          </li>
        </ul>
      </div>
    </div>
  </body>
  <%- include('../partials/footer') %>
</html>


<!-- 
Alberto Espinosa  
-->